<ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

<ion-view view-title="Forgot Password">
    <ion-content class="login">
        <div class="login-logo">
            <img src="../img/icon_logo.png" alt="Password Saver Logo">
        </div>
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-person-stalker placeholder-icon"></i>
                <input type="text" placeholder="User Name" ng-model="forgotPassword.userName">
            </label>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="text" placeholder="Email ID" ng-model="forgotPassword.emailId">
            </label>
        </div>
        <div class="login-buttons">
        	<p class="assertive">{{errorMsg}}</p>
        </div>
        <div class="login-buttons">
            <button class="button button-calm" ng-click="forgotPasswordCheck()">Verify</button>
        </div>
    </ion-content>
</ion-view>
</ion-nav-bar>
