<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
        <a class="tab-item active" href="/#/login">Login</a>
        <a class="tab-item" href="/#/register">Register</a>
    </div>
</div>
<ion-content class="login">
    <div class="login-logo">
        <img src="../img/icon_logo.png" alt="Password Saver Logo">
    </div>
    <div class="list">
        <label class="item item-input">
            <i class="icon ion-person-stalker placeholder-icon"></i>
            <input type="text" placeholder="User Name" ng-model="login.userName">
        </label>
        <label class="item item-input">
            <i class="icon ion-eye placeholder-icon"></i>
            <input type="password" placeholder="Password" ng-model="login.password">
        </label>
    </div>
    <div class="login-buttons">
        <p class="assertive">{{errorMsg}}</p>
        <a class="button-royal" href="/#/forgot-password">Forgot Password</a>
    </div>
    <div class="login-buttons">
        <button class="button button-calm" ng-click="signIn()">Login</button>
    </div>
</ion-content>
