<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
        <a class="tab-item" href="/#/home">
            <i class="icon ion-plus-round"></i>
        </a>
        <a class="tab-item active" href="/#/myaccounts">
            <i class="icon ion-person"></i>
        </a>
        <action-sheet class="tab-item"></action-sheet>
    </div>
</div>
<div id="body">
</div>

<div class="bar bar-footer bar-calm">
    <div class="app-footer">
        <p>Vennela Developers</p>
    </div>
</div>
