.tabs-top > .tabs,
.tabs.tabs-top {
    top: 0;
}

.app-footer {
    margin: 10 auto;
    width: 100%;
    text-align: center;
}

.app-footer p {
    margin: 0 auto;
}

.login {
    background-color: #f4f4f4;
    padding: 10px;
}

.login .button {
    width: 98%;
}

.login a {
    text-align: right;
}

.login .login-buttons {
    margin: 5px;
}

.login .list span {
    color: #999;
}

.login-logo {
    width: 55%;
    height: 45%;
    margin: 0 auto;
    padding: 10px;
}

.login-logo img {
    height: 150px;
    width: 150px;
    margin-top: 40px;
}

.login input {
    padding: 5px;
}

.login .button-royal {
    float: right;
    margin: -20px 0px 20px;
    color: #2f2f2f;
}

.login-buttons .assertive {
    min-height: 15px;
}

#registerLogo {
    height: 220px;
}

#body{
    margin-top:50px;
}
.user-name{
    color: #0a9dc7;
}

.ps-select{
    width:80%;
    margin:2%;
    padding:2%;
    border-radius:5px;
    outline: none;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.ps-select :select;{
    outline: none;
}
.items{
    width:49%;
    float:left;
    padding:10px;
    height:150px;
}
.items img{
    width:140px;
    height:80px;
    margin:0 auto;
}
.items p{
    text-align: center;
    color: #0a9dc7;
}